<div id="footer_wrap" class="outer">
	<footer class="inner">
		<div id="project_footer">
			<span>©&nbsp;{{ 'now' | date: "%Y" }} Matteo Bernardini</span>,
			<span style="margin-left:1em">VAT&nbsp;N.&nbsp;IT16567861006</span>
			<ul id="project_socials">
				<li><a target="_blank" href="https://github.com/mttbernardini" class="fab fa-fw fa-github"></a></li>
				<li><a target="_blank" href="https://twitter.com/mttbernardini" class="fab fa-fw fa-twitter"></a></li>
				<li><a target="_blank" href="https://mttbernardini.bandcamp.com/" class="fab fa-fw fa-bandcamp"></a></li>
				<li><a target="_blank" href="https://youtube.com/arsaloscopicese" class="fab fa-fw fa-youtube"></a></li>
				<li><a target="_blank" href="https://flickr.com/photos/mttbernardini" class="fab fa-fw fa-flickr"></a></li>
			</ul>
		</div>
	</footer>
</div>
