---
# Theme style overrides
---

@import "{{ site.theme }}";
@import "fa-all.min.css";

body {
	background-color: unset;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}


.inner {
	max-width: 800px;
	padding: 15px;
}

#header_wrap .inner {
	text-align: center;
	padding: 50px 15px 30px;
}


#main_content_wrap {
	flex-grow: 1;
}

#main_content {
	padding-top: 1.5em;
	padding-bottom: 4em;
	text-align: justify;
}


#project_footer {
	color: #f2f2f2;
	margin: 10px 0 15px;
}


#project_title a {
	color: white;
	text-decoration: none;
}

#project_tagline {
	margin: 0.2em 0;
	padding: 0;
	color: #eee;
	font-size: 1.3em;
	font-style: italic;
}

#project_tagline::before, #project_tagline::after {
	content: " – ";
}

#project_contacts, #project_socials {
	display: block;
	color: #fff;
	margin: 0;
	padding: 0;
	padding-top: 0.5em;
}

#project_contacts > li, #project_socials > li {
	display: inline-block;
	margin-right: 1em;
}

#project_contacts a, #project_socials a {
	color: #fff;
	text-decoration: none;
}

#project_socials {
	float: right;
	padding: 0;
	margin-left: 1em;
}

#site_nav {
}

#site_nav a {
	color: #555;
	display: inline-block;
	margin: 0 0.5em;
}

#site_nav .back_link::before {
	content: "< ";
}