---
# Theme style overrides
---

@import "{{ site.theme }}";
@import "fa-all.min.css";

body {
	background-color: unset;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}


.inner {
	max-width: 750px;
	padding: 15px;
}

#header_wrap .inner {
	padding: 50px 15px 30px;
}


#main_content_wrap {
	flex-grow: 1;
}

#main_content {
	padding-bottom: 40px;
	text-align: justify;
}


#project_title a {
	color: white;
	text-decoration: none;
}

#project_contacts {
	display: block;
	color: #fff;
	margin: 0;
	padding: 0;
}

#project_contacts > li {
	display: inline-block;
	margin-right: 1em;
}

#project_contacts a {
	color: #fff;
}
